.topnav {
  overflow: hidden;
  background-color: #5b2e70;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 17px;
  font-family: monospace;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: #5b2e70;
  display: block;
  position: absolute;
  right: -15px;
  top: -10px;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #5b2e70;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #5b2e70;
  color: white;
}

.banner {
  position: relative;
  width: 100%;
  max-width: 100%;
}

.banner img {
  width: 100%;
  height: auto;
}

.banner .button {
  position: absolute;
  top: 94%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  /* font-size: 16px; */
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;

	display: block;
  width: 140px;
  height: 0%;
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 0;
  overflow: hidden;
  /* position: relative; */
  /* transform: translatez(0); */
  text-decoration: none;
  box-sizing: border-box;
  font-size: 80%;
	font-weight: normal;
	box-shadow: 0 9px 18px rgba(0,0,0,0.2);
}

.banner .instagram {
  text-align: center;
  line-height: 50%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	border-radius: 50px;
  padding: 26px;
  color: white;
  background: #BD3381;
  transition: all 0.2s ease-out 0s;
}

.banner .h3 {
  font-size:1.75rem;
  text-align: center;
}

.banner .text-center {
  text-align:center!important;
}

.banner .col-lg-12 {
  -ms-flex:0 0 100%;
  flex:0 0 100%;
  max-width:100%;
}

.banner .gradient {
	display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 80%;
  height: 90%;
  bottom: auto;
  margin: auto;
  z-index: -1;
  background: radial-gradient(90px circle at top center, rgba(238,88,63,.8) 30%, rgba(255,255,255,0));
  transition: all 0s ease-out 0s;
	transform: translatex(-140px);
	animation: 18s linear 0s infinite move;
}

@keyframes move {
	0% {
		transform: translatex(-140px);
	}
	25% {
		transform: translatex(140px);
		opacity: 0.3;
	}
	50% {
		transform: translatex(140px);
		opacity: 1;
		background: radial-gradient(90px circle at bottom center, rgba(238,88,63,.5) 30%, rgba(255,255,255,0));
	}
	75% {
		transform: translatex(-140px);
		opacity: 0.3;
	}
	100% {
		opacity: 1;
		transform: translatex(-140px);
		background: radial-gradient(90px circle at top center, rgba(238,88,63,.5) 30%, rgba(255,255,255,0));
	}
}

.about {
  margin: auto;
  width: 80%;
  padding: 10px;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.6;
}

.flex {
  display:flex;
}

.flex div {
  flex:1;
  margin:15px; /* need some space ?*/
}

.flex img {
  width: 100%;
}

.videoWrapper {
  margin: auto;
  margin-top: 10%;
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.videoWrapper video {
  position: absolute;
  top: 0;
  left: 20%;
  width: 60%;
  height: 60%;
}

.whyWEHack {
  margin: auto;
  margin-top: -10%;
  margin-bottom: 15%;
  width: 80%;
  padding: 10px;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.6;
}

.sponsor{
  display: block;
  margin: auto;
  margin-bottom: 0%;
}


.container-headshot {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}

.headshot {
  position: relative;
  display: inline-block;
  /* float: left; */
  padding: 10px;
}

footer {
  padding: 30px 30px;
  background: #5b2e70;
  color: #ffa508;
}

.fa {
  padding: 20px;
  font-size: 50px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 2px 2px;
  border-radius: 40%;
  margin: 10 px;
}

.fa:hover {
    opacity: 0.7;
    /* background: #ffa508; */
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.team-member {
  margin-bottom: 50px;
  text-align: center;
}

.team-member img {
  width: 225px;
  height: 225px;
  border: 7px solid rgba(0, 0, 0, 0.1);
}

.team-member h4 {
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: none;
}

.team-member p {
  margin-top: 0;
}

#DIV_0 {
  width: 80%;
  float: left;
}

#DIV_1 {
  height: 125px;
}

#DIV_2 {
  height: 15px;
}

#DIV_3 {
  float: left;
  height: 140px;
  width: 20%;
}




.accrdion {
  background-color: #eee;
  align-items: center;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 80%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accrdion:hover {
  background-color: #5b2e70;
  color: white;
}

.accrdion:after {
  content: '\002B'; /* Unicode character for "plus" sign (+) */
  color: rgb(133, 133, 133);
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212"; /* Unicode character for "minus" sign (-) */
  color: white;
}

.panel {
  padding: 0 18px;
  background-color:white;
  width: 77.5%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}


/*FAQ*/
.faqdiv {
  margin: auto;
  width: 80%;
  padding: 0px;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.6;
  margin-bottom:0px;
  bottom: 0;
}


.faq .card {
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.faq hr {
  margin: 1.5rem 0;
}

.faq .card-title {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  letter-spacing: .1rem;
  font-weight: bold;
}

.faq .card-price {
  font-size: 3rem;
  margin: 0;
}

.faq .card-price .period {
  font-size: 0.8rem;
}

.faq ul li {
  margin-bottom: 0;
  padding: 0;
}

.faq .text-muted {
  opacity: 0.7;
}

.faq .btn {
  font-size: 80%;
  border-radius: 0;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  opacity: 0.7;
  transition: all 0.2s;
}


.our-team-main
{
	width:100%;
	height:97%;
	border-bottom:5px #323233 solid;
	background:#fff;
	text-align:center;
	border-radius:10px;
	overflow:hidden;
	position:relative;
	transition:0.5s;
}


.our-team-main img
{
	border-radius:20%;
	margin-bottom:0px;
	width: 90px;
}

.our-team-main h3
{
	font-size:20px;
	font-weight:700;
}

.our-team-main p
{
	margin-bottom:0;
}

.team-back
{
	width:100%;
	height:auto;
	position:absolute;
	top:0;
	left:0;
	padding:5px 15px 0 0px;
	text-align:left;
  background:#fff;
  margin-bottom:0;
  bottom:0px;
}

.team-front
{
	width:100%;
	height:100%;
	position:relative;
	z-index:10;
	background:#fff;
	padding-bottom: 0px;
	bottom:0px;
  transition: all 0.5s ease;
  margin-bottom:0;
}

.our-team-main:hover .team-front
{
	bottom:-200px;
	transition: all 0.5s ease;
}

.our-team-main:hover
{
	border-color:#777;
	transition:0.5s;
}

/* Hover Effects on Card */

@media (min-width: 992px) {
  .faq .card:hover {
    margin-top: -.25rem;
    margin-bottom: .25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }
  .faq .card:hover .btn {
    opacity: 1;
  }
}


.b-sp {
  padding-bottom: 50px;
}

/* from bootstrap*/
.col-lg-4{
  -ms-flex:0 0 33.333333%;
  flex:0 0 33.333333%;
  max-width:33.333333%;
}

.row {
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
  margin-right:-15px;
  margin-left:-15px;
}

.container {
  width:100%;
  padding-right:15px;
  padding-left:15px;
  margin-right:auto;
  margin-left:auto;
} 
  
  @media (min-width:576px){
    .container {
      max-width:540px;
    }
    }
    
  @media (min-width:768px){
    .container {
      max-width:720px;
    }
    }
    
  @media (min-width:992px){
    .container {
      max-width:960px;
    }
    }
    
  @media (min-width:1200px){
    .container {
      max-width:1140px;
    }
    }

    .img-fluid {
      max-width:100%;
      height:auto;
    }

    .padding-clear {
      clear: both;
      padding: 0;
    }

    .mx-auto {
      margin-right:auto!important;
    }

    .mx-auto {
      margin-left:auto!important;
    }

    .rounded-circle {
      border-radius:50%!important;
    }

    .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }