/* ~~~~~~~~~~~~~GENERAL~~~~~~~~~~~~~ */

html {
  /* background-color: #1A441B;*/
  background-image: url(./images/2024/BG-darkColors.png);
  background-size: 400px;
  background-repeat: repeat;
  scroll-behavior: smooth;
  overflow-x: hidden;

}

body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}

.font-title-1 {
  font-family: 'Inknut Antiqua', serif;
  font-size: 72px;
  line-height: 80px;
}

.font-title-2 {
  font-family: 'Inknut Antiqua', serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 42px;
}

.font-title-3 {
  font-family: 'Inknut Antiqua', serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  padding-bottom: 35px;
}

.heading {
  color: #FFE9D7;
  text-shadow: 2px 3px 5px #909634;
  font-family: 'Inknut Antiqua', serif;
  font-size: 2.5em;
  font-weight: 500px;
  margin-bottom: 8px;
  padding-bottom: 8px;
}

.heading-2 {
  font-size: 2.0em;
  font-weight: 500px;
  margin-bottom: 8px;
  padding-bottom: 8px;
}

.heading-3 {
  font-size: 1.0em;
  font-weight: 400px;
  /*margin-bottom: 8px;
  padding-bottom: 8px;*/
}

.heading-4 {
  font-size: 1.2em;
  font-weight: 400px;
  /*margin-bottom: 8px;
  padding-bottom: 8px;*/
}

.heading-5 {
  font-size: 1.0em;
  font-weight: 400px;
  /*margin-bottom: 8px;
  padding-bottom: 8px;*/
}

.heading-6 {
  font-size: 2.5em;
  font-weight: 500px;
  margin-bottom: 8px;
  padding-bottom: 8px;
  margin-left: 160px;
}

.font-paragraph {
  font-family: 'Inknut Antiqua', serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.font-caption {
  font-family: 'Inknut Antiqua', serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 16px;
}


/* MLH Badge */
#mlh-trust-badge {
  display: block;
  max-width: 100px;
  min-width: 60px;
  position: fixed;
  right: 10px;
  top: 0;
  width: 10%;
  z-index: 10000;
}

@media (min-width:970px) and (max-width:1200px) {
  #mlh-trust-badge {
    right: 10px;
    top: 50px;
    z-index: 1000;
  }
}

/* ~~~~~~~~~~~~~~~NAV BAR~~~~~~~~~~~~~~~~~*/

.navmenu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: transparent;
  color: #FFE9D7;
  z-index: 1000;
  position: fixed;
  padding-right: 1000px;
  left: 0;
}

.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}


/* .menu li:hover {
  background-color: #909634;
  height:40px;
  border-radius: 5px;
  transition: 0.3s ease;
} */
.menu li a:hover {
  background-color: #909634;
  height:30px;
  border-radius: 5px;
  transition: 0.3s ease;
}

.menu li {
  list-style: none;
  margin-right:-30px;
  white-space:nowrap;
}

.menu li a {
  color: #FFE9D7;
  text-shadow: 2px 2px 2px #4A3628;
  text-align: left;
  padding: 0.5vh 5vw;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  float: center;
  display: block;

}

input[type=checkbox] {
  display: none;
}

.hamburger {
  display: none;
  font-size: 35px;
  user-select: none;
  color: black;
  padding-right: 10px;
}

@media (max-width: 970px) {
  .navmenu {
    background-color: #FFE9D7;
    border-radius: 30px 0 30px 0;
    left: 10px;
    top: 5px;
    padding-right: 20px;
  }

  .menu {
    display: none;
    background-color: #FFE9D7;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
  }

  .menu li a {
    padding: 1.5vh 5vw;
  }


  .menu li:hover {
    display: inline-block;
    background-color: #909634;
    transition: 0.3s ease;
  }

  .menu li+li {
    margin-top: 10px
  }

  input[type=checkbox]:checked~.menu {
    display: block;
  }

  .hamburger {
    display: block;

  }

}

/* ~~~~~~~~~~~~JUMBOTRON STYLING~~~~~~~~~~ */

.jumbotron {
  padding-top: 19vh;
  padding-bottom: 19vh;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

}

.jumbotron .container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: space-around;
  justify-content: center;
  align-items: center;
}

.jumbotron .placeholder {
  margin-right: 25px;
  margin-left: 150px;
  /*background-color: white;
  opacity: 0.2;
  height: 70vh;*/
  /*border: 10px solid #333333;*/
}

.jumbotron .img {
  width: 90%;
  height: 90%;
}

.jumbotron .right {
  /*position: absolute;
  top: 50%;
  left: 67%;
  transform: translate(-50%, -50%);*/
  justify-content: right;
  vertical-align: middle;
  text-align: center;
}

@media only screen and (max-width: 860px) {
  .jumbotron .container {
    flex-direction: column;
  }
}

.jumbotron .font-title-1 {
  font-size: 80px;
  color: #FFE9D7;
  text-shadow: 5px 5px 5px #909634;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 20px;
}

.jumbotron .font-title-4 {
  font-size: 60px;
  color: #FFE9D7;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
}

.jumbotron .font-title-3 {
  font-size: 23px;
  color: #FFE9D7;
  text-shadow: 3px 2px 3px #909634;
  font-weight: 800;
  margin-top: 0px;
  margin-bottom: 0px;
}

.jumbotron .font-title-2 {
  font-size: 30px;
  color: #b5bb61;
  text-shadow: 5px 5px 5px #291e1e;
  font-style: italic;
  font-weight: 500;
  margin-top: 0px;
  margin-bottom: 20px;
  display: -ms-grid;
}

.jumbotron button {
  display: flex;
  background-color: transparent;
  border: 2px solid rgb(175, 121, 121);
  text-decoration: none;
  color: rgb(179, 105, 105);
  vertical-align: middle;
  text-align: center;
  display: table-cell;
  padding: 8px 12px;
  width: 80%;
}

.jumbotron .font-paragraph {
  font-size: 20px;
  color: #4A3628
}

.jumbotron .apply-now {
  font-family: 'Nunito', sans-serif;
  border: none;
  flex: 1;
  margin-bottom: 8px;
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 23px;
  font-weight: 800;
  width: 75%;
  background-color: #909634;
  color: #FFE9D7;
}

.jumbotron .volunteer {
  font-family: 'Nunito', sans-serif;
  display: inline-block;
  border: none;
  flex: 1;
  margin-bottom: 8px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 23px;
  font-weight: 800;
  width: 37%;
  background-color: #909634;
  color: #FFE9D7;
}


.jumbotron .mentor {
  font-family: 'Nunito', sans-serif;
  display: inline-block;
  border: none;
  flex: 1;
  margin-bottom: 8px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 23px;
  font-weight: 800;
  width: 37%;
  background-color: #909634;
  color: #FFE9D7;
}

.jumbotron .flex-grid {
  display: flex;
}

.jumbotron .apply-now:hover {
  background-color:darkolivegreen;
  transition: 0.3s ease;
}

#left-button {
  margin-right: 6px;
  margin-top: 6px;
}

#right-button {
  margin-top: 6px;
  margin-left: 6px;
}

/* .jumbotron .message {
  position: absolute;
  bottom: 0;
  width: 100%;
  justify-content: center;
  text-align: center;
  padding: 20px 12px;
  border-radius: 20px;
  font-style: italic;
  font-weight: 700;
  background-color: #fff2ce;
  box-shadow: 0px 0px 10px 7px #909634;
} */

.box-message {
  /* position: absolute; */
  display: flex;
  /* flex-direction:row; */
  justify-content: center;
  align-items:center;
  bottom: 0;
  width: auto;
  padding: 20px 2px;
  margin: 30px 60px 0px 60px;
  border-radius: 20px;
  background-color: #fff2ce;
  box-shadow: 0px 0px 10px 7px #909634;
}

.message {
  font-size:large;
  text-align: center;
  font-style: italic;
  font-weight: 700;
}

/*-----------Sparkles-------------------- */

.sparkle img {
  width: 100px;
  animation: sparkle 7s linear infinite;
}

.sparkle {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  bottom: -60vh;
  z-index: 999;
}


@keyframes sparkle {
  0% {
    transform: translateY(0);
    opacity: 0;
  }

  50% {
    transform: translateY(0);
    opacity: 1;
  }

  70% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(-90vh);
    opacity: 0;
  }
}

.static-sparkle {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;

  pointer-events: none;
}

.static-sparkle img {
  width: 100px;
  position: absolute;
  pointer-events: none;
}



/* ~~~~~~~~~~~~~~~ABOUT~~~~~~~~~~~~~~~~~ */
.about {
  /*background-color: #c5c9e4;*/
  color: #1e1920;
}

/*@media (max-width: 1024px) {
  .about-heading{
    font-size: 1.8em;
  }
}*/

.about-container {
  font-family: 'Nunito', sans-serif;
  border: 3px solid #909634;
  background-color: #FFE9D7;
  border-radius: 20px;
  padding: 25px 25px 10px 30px;
  margin: 50px 40px 40px 40px;
  size: 100px;
  filter: drop-shadow(5px 5px #909634);
}

.about-body {
  font-family: 'Nunito', sans-serif;
  color: #1e1920;
  font-weight: bold;
  text-align: justify;
  margin-right: 12px;
  margin-top: 0;
  background-color: #FFE9D7;
}

.about-text {
  color: #FFE9D7;
  font-family: 'Inknut Antiqua', serif;
  font-weight:1000;
  font-size: 2.5em;
  text-shadow: 2px 3px 3px #909634;
  padding-top: 100px;
  margin-bottom: 0;
  margin-top:15px;
}
/* .about-text {
  font-size:1.2em;
} */

.about .contentBx {
  margin: auto;
  width: 80%;
  padding: 40px;
  /*text-align: center;*/
  font-size: 1.1em;
  display: flex;
  flex-direction: column;
  line-height: 1.6;
}


/* ~~~~~~~~~~~~~~~WHY WEHACK~~~~~~~~~~~~~~~~~ */
.whyWEHack {
  position: relative;
  width: 100%;
  text-align: center;
  width: 30%;
}

.whyWEHack .inline-block {
  margin-top: 150px;
  text-align: center;
  width: 20%;
}

.whyWeHack img {
  width: 90%;
  padding: 60px;
}

.whyWeHack .heading {
  font-size: 2.5em;
  color: #1e1920;
  font-weight: normal;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.whyWEHack p {
  color: #1e1920
}

/* ~~~~~~~~~~~Past Statistics~~~~~~~~~~~~~~ */

.statistics {
  margin: auto;
  width: 80%;
  padding-top: 0px;
  /*text-align: center;*/
  font-size: 1em;
  display: flex;
  flex-direction: column;
  line-height: 1.6;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;


}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #000000;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  text-decoration: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  color: #ffe9d7;
  background-color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
}

/* Caption text */
.stattext {
  color: #f2f2f2;
  font-size: 30px;
  padding: 8px 12px;
  position: absolute;
  top: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #ffe9d7;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  box-shadow: 0px 0px 3px 3px #909634;
}

.dot:hover {
  background-color: #ffe9d7;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

  .prev,
  .next,
  .text {
    font-size: 11px
  }
}


/* ~~~~~~~~~~~TESTIMONIALS~~~~~~~~~~~~~*/

.testimonials {
  font-family: 'Nunito', sans-serif;
  /*background-color: #c5c9e4;*/
  color: #FFE9D7;
  padding-top: 80px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.testimonials h1 {
  font-family: 'Inknut Antiqua', serif;
  text-shadow: 2px 3px 5px #909634;
  /* padding-bottom: 0px;
  margin-bottom: 0; */
  font-weight:1000;
  font-size: 2.5em;
  text-shadow: 2px 3px 3px #909634;
  padding-top: 100px;
  margin-bottom: 0;
  margin-top:15px;
}

.test-container {
  font-family: 'Nunito', sans-serif;
  border: 3px solid #909634;
  background-color: #FFE9D7;
  border-radius: 20px;
  padding: 25px 40px 25px 40px;
  margin: 40px 170px 40px 170px;
  size: 100px;
  filter: drop-shadow(5px 5px #909634);
}

.test-container::after {
  content: "";
  clear: both;
  display: table;
}

.test-container img {
  float: left;
  margin: 5px 25px 5px 5px;
  border-radius: 50%;
  width: 130px;
  background-color: #FFE9D7;
}

.test-container span {
  font-size: 20px;
  margin-right: 15px;
}

.test-header {
  /* font-family: 'Nunito', sans-serif; */
  font-family: 'Inknut Antiqua', serif;
  color: #1e1920;
  background-color: #FFE9D7;
  margin: 10px 0px 0px 0px;
  padding: 0;
  font-weight: bold;
}

.test-body {
  font-family: 'Nunito', sans-serif;
  color: #1e1920;
  text-align: justify;
  margin-right: 12px;
  margin-top: 0.4px;
  background-color: #FFE9D7;
}

.test-desc {
  font-family: 'Nunito', sans-serif;
  color: #1e1920;
  margin: 0;
  padding: 10px;
  background-color: #FFE9D7;
}

/* Add media queries for responsiveness. This will center both the text and the image inside the container */
@media (max-width: 500px) {
  .test-container {
    text-align: center;
    padding: 30px 40px 30px 40px;
    margin: 40px 60px 40px 60px;
  }

  .test-container img {
    margin: auto;
    float: none;
    display: block;
  }
}

@media (max-width: 768px) {
  .test-container {
    text-align: center;
    padding: 30px 40px 30px 40px;
    margin: 40px 60px 40px 60px;
  }

  .test-container img {
    margin: auto;
    float: none;
    display: block;
  }
}


/* ~~~~~~~~~~~~~~~SPONSORS~~~~~~~~~~~~~~~~~ */
.sponsors {
  font-family: 'Inknut Antiqua', serif;
  color: #1e1920;
  background: #c5c9e4;
  padding: 40px;
}

.sponsors .heading {
  /* text-shadow: 2px 3px 5px #909634;
  font-family: 'Inknut Antiqua', serif;
  color: #1e1920;
  padding-bottom: 0;
  font-size: 2.5em;
  font-weight: 500px; */

  font-family: 'Inknut Antiqua', serif;
  text-shadow: 2px 3px 5px #909634;
  /* padding-bottom: 0px;
  margin-bottom: 0; */
  font-weight:1000;
  font-size: 2.5em;
  text-shadow: 2px 3px 3px #909634;
  padding-top: 100px;
  margin-bottom: 0;
  margin-top:15px;
}

.sponsors p {
  color: #1e1920;
}

.sponsor {
  color: #c5c9e4;
  display: block;
  margin: auto;
  margin-bottom: 2%;
}

.sponsor-img {
  width: 100%;
  max-width: 300px;
  height: auto;
  padding-left: 2vw;
  padding-right: 2vw;
  margin-top: 30px;
}


.tier-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
  align-content: flex-start;
  column-gap: 2em;
}

body {
  max-width: 1440px;
  margin: auto;
}

.slider-wrapper {
  margin: 5rem;
  padding-top: 70px;
  position: relative;
  overflow: hidden;
}

.slider-wrapper h1 {
  text-shadow: 2px 3px 4px #909634;
  overflow: hidden;
  transition: 0.6s ease;

}

.slides-container {
  height: 70%;
  width: 100%;
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  transition: .5s ease;
  justify-content: left;
  align-items: center;
}

.slide-arrow {
  position: absolute;
  display: flex;
  top: 60%;
  margin: auto;
  height: 4rem;
  background-color: white;
  border: none;
  width: 2rem;
  font-size: 3rem;
  padding: 0;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 100ms;
  transition: 0.6s ease;
}

.slide-arrow:hover,
.slide-arrow:focus {
  opacity: 1;
  transition: .6s ease;
}

#slide-arrow-prev {
  left: 0;
  padding-left: 0.25rem;
  border-radius: 0 2rem 2rem 0;
}

#slide-arrow-next {
  right: 0;
  padding-left: 0.75rem;
  border-radius: 2rem 0 0 2rem;
}

.slide {
  width: 1280px;
  height: 500px;
  flex: 1 0 100%;
  transition: 1s ease-in-out;
}

.slide:nth-child(1) {
  background-image: url(./images/sponsors//toyota_sponsor.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
  margin: 0;
}

.slide:nth-child(2) {
  background-image: url(./images/sponsors/plat_sponsors.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
  margin: 0;
}

.slide:nth-child(3) {
  background-image: url(./images/sponsors/gold_sponsors.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
  margin: 0;
}


.slide:nth-child(4) {
  background-image: url(./images/sponsors/bronze_sponsors.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
  margin: 0;
}


/* rank for sponsors
.sponsor .sponsor-rank {
  position: absolute;
  margin-left: 200px;
  float: left;
  height: auto;
  margin-top: 30px;
  font-size: 22px;  
  font-weight: 100px;
}
*/


/* ~~~~~~~~~~~~~~~PARTNERS~~~~~~~~~~~~~~~~~ */
.partners {
  padding: 40px;
}

.partners .heading {
  padding-bottom: 0;
}

.partners {
  display: block;
  margin: auto;
  margin-bottom: 2%;
}

.partners img {
  width: 100%;
  max-width: 300px;
  height: auto;
  padding-left: 2vw;
  padding-right: 2vw;
  margin-top: 20px;
  height: auto;
}

.partners .smaller {
  max-width: 400px;
}

.partners .shrink {
  width: 100%;
  height: auto;
  padding-left: 2vw;
  padding-right: 2vw;
  margin-top: 20px;
  max-width: 250px;
}

/* ~~~~~~~~~~~~~~~FOOTER~~~~~~~~~~~~~~~~~ */
footer {
  padding-top: 7px;
  padding-bottom: 0%;
  margin-top: 100px;
  /* change this if meet the team section is there */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-sizing: border-box;
  background: #909634;
  box-shadow: 0px 0px 10px 5px #909634;
  width: 100%;
}

.bottom {
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
}

footer .grid {
  /* display: grid; */
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

footer .text {
  font-family: 'Inknut Antiqua', serif;
  color: #fff2ce;
  font-size: 13px;
}

footer .text:hover {
  color: #fff2ce;
}

footer .copyright p {
  font-family: 'Inknut Antiqua', serif;
  color: #fff2ce;
}

@media screen and (max-width: 300px) {
  .heading-2 {
    width: 42%;
  }

  .heading-3 {
    width: 60%;
  }
}


.team-member {
  margin-bottom: 50px;
  text-align: center;
}

.team-member img {
  width: 225px;
  height: 225px;
  /*border: 7px solid rgba(0, 0, 0, 0.1);*/
}

.team-member h4 {
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: none;
}

.team-member p {
  margin-top: 0;
}

#DIV_0 {
  width: 80%;
  float: left;
}

#DIV_1 {
  height: 125px;
}

#DIV_2 {
  height: 15px;
}

#DIV_3 {
  float: left;
  height: 140px;
  width: 20%;
}

.accrdion {
  font-family: 'Nunito', sans-serif;
  background-color: #909634;
  align-items: center;
  color: #1e1920;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 16px;
  transition: max-height 0.4s ease;
}

/*.active, .accrdion:hover {
  background-color: #5b2e70;
  color: white;
}*/

.accrdion:after {
  content: '\002B';
  /* Unicode character for "plus" sign (+) */
  color: #1e1920;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: '\2212';
  /* Unicode character for "minus" sign (-) */
  color: #1e1920;
}



/*FAQ*/

.wrapper {
  max-width: 75%;
  margin: 150px auto 60px auto;
}

.wrapper>p,
.wrapper>h1 {
  margin: 1.0rem 0;
  text-align: center;
}

.wrapper>h1 {
  /* letter-spacing: 3px; */
    font-family: 'Inknut Antiqua', serif;
  text-shadow: 2px 3px 5px #909634;
  /* padding-bottom: 0px;
  margin-bottom: 0; */
  font-weight:1000;
  font-size: 2.5em;
  text-shadow: 2px 3px 3px #909634;
  padding-top: 100px;
  margin-bottom: 0;
  margin-top:15px;
}

.accordion {
  background-color: #FFE9D7;
  font-family: 'Inknut Antiqua', sans-serif;
  border-radius: 10px 10px 10px 10px;
  color: #4A3628;
  cursor: pointer;
  font-size: 1.0rem;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  border: none;
  outline: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  transition: 0.4s ease;
  width: 100%;
}

.accordion i {
  font-size: 14;
  content: '\2212';
}

.active {
  background-color: #E5D1C1;
  border-radius: 10px 10px 0 0;
}

.accordion:hover {
  background-color: #E5D1C1;
  border-radius: 10px 10px 0 0;
  content: '\002B';
}

.accordion:after {
  content: '\002B';
  /* Unicode character for "plus" sign (+) */
  color: #1e1920;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: '\2212';
  /* Unicode character for "minus" sign (-) */
  color: #1e1920;
}

.panel {
  font-family: 'Nunito', sans-serif;
  padding: 0rem 1.5rem 0rem 1.5rem;
  border-radius: 0 0 10px 10px;
  background-color: #FFE9D7;
  overflow: hidden;
  background-color: #E5D1C1;
  display: none;
  transition: 0.4s ease;
}

.panel p {
  color: #4A3628
}

.freq {
  margin: 10px 0;
  width: 150%;
}

.freq.active {
  border: none;
}

.columns {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  /* Add this line */
}

.column {
  width: 48%;
  /* Adjust as needed */
  flex: 49%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 10px 10px 10px 0px;
  padding: 0px 11.0rem 0px 0px;
  border: 50px;
  box-sizing: border-box;
  /* Add this line */
}


@media screen and (max-width: 1000px) {
  .column {
    flex: 100%;
  }
}


@media screen and (max-width: 640px) {
  .topnav {
    width: 100%;
    justify-content: flex-end;
    z-index: 1000;
  }

  .topnav #homeLink {
    position: absolute;
    top: 0px;
    left: 0px;
  }

  .topnav #myLinks.links {
    justify-content: flex-end;
    padding-right: 8px;
    padding-top: 8px;
  }

  .topnav .links a {
    display: none;
    width: 100%;
    padding: 0px;
  }

  .topnav .links a.icon {
    display: flex;
    justify-self: flex-end;
  }

  .banner .logo1 {
    margin-top: 50px;
  }

  .banner .Heading2 {
    margin-top: 50px;
  }

  .topnav #myLinks.links.responsive {
    display: block;
    float: none;
    justify-content: start;
    width: 100%;
    z-index: 10000;
  }

  .topnav #myLinks.links.responsive a {
    display: block;
    padding: 8px;
    width: 100%;
    text-align: left;
  }

  .topnav #myLinks.links.responsive a.icon {
    position: absolute;
    width: auto;
  }

  .topnav #myLinks.links.responsive i {
    padding-left: 0px;
  }
}

td,
th {
  /*border: 1px solid #dddddd;*/
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #eee;
}

/* first column */
td:nth-child(1) {
  width: 150px;
}

/* second column */
td:nth-child(2) {
  width: 150px;
}

/* third column */
td:nth-child(3) {
  width: 275px;
}

/* fourth column */
td:nth-child(4) {
  width: 250px;
}

/* fifth column */
td:nth-child(5) {
  width: 550px;
}

/*stylizing links #BD3381 #5b2e70*/
a:link {
  color: #1e1920;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  color: #e38f61;
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

/* ~~~~~~~~~MEET THE TEAM~~~~~~~~~ */

.team {
  align-items: center;
  position: relative;
  text-align: center;
  /*background: #c5c9e4;*/
  color: #1e1920;
  padding-top: 90px;
}

.team .row {
  justify-content: space-around;
  align-items: center;
  margin: 0 10px;
}

.team h1 {
  /* text-shadow: 2px 3px 4px #e0a269; */
  font-family: 'Inknut Antiqua', serif;
  text-shadow: 2px 3px 5px #e0a269;
  /* padding-bottom: 0px;
  margin-bottom: 0; */
  font-weight:1000;
  font-size: 2.5em;
  padding-top: 100px;
  margin-bottom: 0;
  margin-top:15px;
}

.team-member {
  /*margin-bottom: 50px;*/
  text-align: center;
  /*padding: 40px;*/
}

.our-team-main {
  width: 100%;
  height: 97%;
  border-bottom: 5px #6b6bad solid;
  background: #fff;
  /*background: black;*/
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  transition: 0.5s;
}

.our-team-main img {
  border-radius: 20%;
  margin-bottom: 0px;
  width: 90px;
}

.our-team-main h3 {
  font-size: 20px;
  font-weight: 700;
}

.our-team-main p {
  margin-bottom: 0;
  font-size: 10px;
}

.team-back {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 15px 0 0px;
  text-align: left;
  background: #fff;
  margin-bottom: 0;
  bottom: 0px;
}

.team-front {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10;
  background: #fff;
  padding-bottom: 0px;
  bottom: 0px;
  transition: all 0.5s ease;
  margin-bottom: 0;
}

.our-team-main:hover .team-front {
  bottom: -200px;
  transition: all 0.5s ease;
}

.our-team-main:hover {
  border-color: #777;
  transition: 0.5s;
}

.group-photo {
  position: relative;
  display: flex;
  float: left;
}

.group-photo img {
  width: 100%;
  height: 650px;
  box-shadow: 10px 10px #909634, 12px 12px 0px 1px #FFE9D7;
  margin-top: 10px;
  margin-bottom: 100px;
  object-fit: contain;
}

.group-photo .hover-img {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}

.group-photo:hover .hover-img {
  display: block;
}

@import url(//codepen.io/chrisdothtml/pen/ojLzJK.css);

.tiles {
  /*width: 920px;
  min-width: 920px;*/
  font-size: 0;
  text-align: center;
  /*position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);*/
  /*float:left;*/
}

.tiles .tile {
  display: inline-block;
  margin: 30px;
  width: 225px;
  height: 225px;
  text-align: left;
  color: black;
  opacity: 0.99;
  overflow: hidden;
  position: relative;
  border-radius: 0.5px;
  box-shadow: 10px 10px
    /*var(--wehack-darkBlue)*/
    #909634, 12px 12px 0px 1px #FFE9D7;
}

.tiles .tile:before {
  content: "";
  background: #FFE9D7;
  width: 100%;
  height: 50%;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 2;
  transition-property: top, opacity;
  transition-duration: 0.3s;
}

.tiles .tile img {
  display: block;
  min-height: 180px;
  max-width: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.tiles .tile .details {
  font-size: 16px;
  padding: 25px 13px;
  color: var(--wehack-black);
  background: rgba(255, 255, 255, 0);
  color: #4A3628;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
}

.tiles .tile .details span {
  display: block;
  opacity: 0;
  position: relative;
  top: 100px;
  transition-property: top, opacity;
  transition-duration: 0.3s;
  transition-delay: 0s;
  background-color: var(--wehack-white);
}

.tiles .tile .details .title {
  line-height: 1;
  font-weight: 600;
  font-size: 14px;
}

.tiles .tile .details .info {
  line-height: 1.2;
  margin-top: 5px;
  font-size: 14px;
}

.tiles .tile:focus:before,
.tiles .tile:focus span,
.tiles .tile:hover:before,
.tiles .tile:hover span {
  opacity: 1;
}

.tiles .tile:focus:before,
.tiles .tile:hover:before {
  top: 60%;
}

.tiles .tile:focus span,
.tiles .tile:hover span {
  top: 0;
}

.tiles .tile:focus .title,
.tiles .tile:hover .title {
  transition-delay: 0.15s;
}

.tiles .tile:focus .info,
.tiles .tile:hover .info {
  transition-delay: 0.25s;
}


/* Hover Effects on Card */

@media (min-width: 992px) {
  .faq .card:hover {
    margin-top: -.25rem;
    margin-bottom: .25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }

  .faq .card:hover .btn {
    opacity: 1;
  }
}


.b-sp {
  padding-bottom: 50px;
}

/* from bootstrap*/
.col-lg-4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* @media (min-width:576px){
    .container {
      max-width:540px;
    }

    }
    
  @media (min-width:768px){
    .container {
      max-width:720px;
    }

    }
    
  @media (min-width:992px){
    .container {
      max-width:960px;
    }

    }
    
  @media (min-width:1200px){
    .container {
      max-width:1140px;
    }
  } */

.img-fluid {
  max-width: 100%;
  height: auto;
}

.padding-clear {
  clear: both;
  padding: 0;
}

.mx-auto {
  margin-right: auto !important;
}

.mx-auto {
  margin-left: auto !important;
}

.rounded-circle {
  border-radius: 50% !important;
}

.social {
  position: absolute;
  left: 50px;
  bottom: 50px;
  display: flex;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

@media (max-width: 1024px) {
  .heading {
    font-size: 1.5em;
  }

  .banner {
    flex-direction: column;
    text-emphasis: center;
    justify-content: center;
  }

  .banner .imgBox,
  .banner .Heading2 {
    width: 100%;
    padding: 25px;
    text-align: center;
    vertical-align: center;
  }

  .banner .imgBox {
    padding-top: 60px;
    height: 40%;
    padding-bottom: 0px;
  }

  .banner .logo1 {
    height: 100%;
    width: auto;
  }

  .banner .Heading2 {
    height: 60%;
    margin-top: 0px;
    font-size: 20px;
  }

  .banner .countdown {
    margin: 25px;
    margin-bottom: 60px;
  }

  .banner .countdown div {
    width: 70px;
    height: 70px;
    line-height: 70px;
    font-size: 1.5em;
  }

  .banner .countdown div:before {
    font-size: 14px;
  }

  .Heading2 h3.topHeading {
    font-size: 50px;
  }

  .banner .button-instagram {
    padding: 20px;
    width: 190px;
    font-size: 22px;
  }

  .sponsors .intro {
    padding: 10px 0px;
  }

  .sponsor {
    display: block;
    margin: 10px 10px;
    margin-bottom: 0%;
  }
}

/* Mobile banner responsiveness */
@media (max-width: 458px) {
  .banner .imgBox {
    padding: 25px 0px;
  }

  .banner .Heading2 {
    height: 60%;
    margin-top: 5px;
    font-size: 16px;
  }

  .banner .countdown {
    margin: 25px;
    margin-bottom: 60px;
  }

  .Heading2 h3.topHeading {
    font-size: 40px;
  }

  .banner .countdown div {
    line-height: 60px;
    font-size: 45px;
    margin: 0 5px;
  }

  .banner .countdown div:before {
    font-size: 0.30em;
    line-height: 35px;
    height: 30px;
  }

  .banner .button-instagram {
    padding: 16px;
    width: 190px;
    font-size: 22px;
  }
}

/* mobile background responsiveness */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {

  html,
  body {
    width: 100%;
    overflow-x: hidden;
  }
}

/* desktop responsiveness*/
@media (min-width: 1920px) {
  .banner .Heading2 {
    font-size: 3em;
  }

  .banner .Heading2 h3.topHeading {
    font-size: 2em;
  }

  .banner .countdown {
    margin: 20px;
    margin-bottom: 80px;
  }

  .banner .countdown div {
    width: 150px;
    height: 150px;
    line-height: 130px;
    font-size: 1.5em;
  }

  .banner .countdown div:before {
    height: 50px;
    line-height: 50px;
    font-size: 35px;
  }

  .banner .button-instagram {
    padding: 30px;
    width: 500px;
    font-size: 1em;
    margin: 5 auto;
  }

  .banner .mentor-link {
    font-size: 0.5em;
  }
}