.topnav {
  overflow: hidden;
  background-color: #9932a2;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 15px 15px;
  text-decoration: none;
  font-size: 17px;
  font-family: monospace;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: #9932a2;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #9932a2;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #9932a2;
  color: white;
}

.bannerheader {
    position: relative; 
    height: 20px;
    width: 20px;
    border: none; 
    display: block;
}


.button {
	display: block;
  width: 200px;
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 0;
  overflow: hidden;
  position: relative;
  transform: translatez(0);
  text-decoration: none;
  box-sizing: border-box;
  font-size: 14px;
	font-weight: normal;
	box-shadow: 0 9px 18px rgba(0,0,0,0.2);
}

.instagram {
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	border-radius: 50px;
  padding: 26px;
  color: white;
  background: #BD3381;
  transition: all 0.2s ease-out 0s;
}

.gradient {
	display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 80%;
  height: 80%;
  bottom: auto;
  margin: auto;
  z-index: -1;
  background: radial-gradient(90px circle at top center, rgba(238,88,63,.8) 30%, rgba(255,255,255,0));
  transition: all 0s ease-out 0s;
	transform: translatex(-140px);
	animation: 18s linear 0s infinite move;
}

@keyframes move {
	0% {
		transform: translatex(-140px);
	}
	25% {
		transform: translatex(140px);
		opacity: 0.3;
	}
	50% {
		transform: translatex(140px);
		opacity: 1;
		background: radial-gradient(90px circle at bottom center, rgba(238,88,63,.5) 30%, rgba(255,255,255,0));
	}
	75% {
		transform: translatex(-140px);
		opacity: 0.3;
	}
	100% {
		opacity: 1;
		transform: translatex(-140px);
		background: radial-gradient(90px circle at top center, rgba(238,88,63,.5) 30%, rgba(255,255,255,0));
	}
}

.about {
  margin: auto;
  width: 80%;
  padding: 10px;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.6;
}

.flex {
  display:flex;
}

.flex div {
  flex:1;
  margin:15px; /* need some space ?*/
}

.flex img {
  width: 100%;
}

.videoWrapper {
  margin-top: 70px;
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 20%;
  width: 60%;
  height: 60%;
}

