
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html{
  scroll-behavior: smooth;
}

* p {
  font-size: 1.15em;
}

/* Standardize heading styles */
.heading {
  font-size: 2.5em;
  font-weight: 600px;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

/* ~~~~~~~~~~~~~~~NAV BAR~~~~~~~~~~~~~~~~~ */
.topnav {
  overflow: hidden;
  background-color: rgba(69,19,114,1);
  display: flex;
  position: absolute;
  z-index: 4;
}
.topnav #homeLink{
  padding: 20px;
  padding-right: 0px;
  position: fixed;
}
.topnav #myLinks {
  justify-content: flex-start;
  display: flex;
  color: white;
  text-align: center;
  padding: 12px 60px;
  text-decoration: none;
  font-size: 17px;
  z-index: 4;
}
.topnav a{
  color: whitesmoke;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  color: #ffa508;
  text-decoration: none;
}
.topnav a::after{
  display: none;
}
.topnav a.active {
  color: #ffa508;
}
.topnav .icon{
  display: none;
}

/* ~~~~~~~~~~~~~~~BANNER~~~~~~~~~~~~~~~~~ */
.banner {
  display: flex;
  position: relative;
  width: 100%;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  width: 100%;
  height: 100vh;
  align-items: center;
  background: rgb(69,19,114);
  background: linear-gradient(180deg, rgba(69,19,114,1) 26%, rgba(83,22,115,1) 45%, rgba(94,24,115,1) 58%, rgba(100,25,115,1) 71%, rgba(114,27,116,1) 91%, rgba(124,29,116,1) 99%);
}
.banner .imgBox{
  padding-left: 50px;
  width: 40%
}
.banner .logo1 {
  width: 100%;
  z-index: 4;
  transition: transform 500ms ease-in-out;
}

.banner .logo1:hover{
  transform: rotate(360deg);
}

.Heading2 {
  width: 60%;
  font-size: 30px;
  font-family: "Times New Roman";
  font-weight: 10px;
  text-align: center;
  padding-right: 50px;
}

.Heading2 h3.topHeading{
  font-size: 90px;
}

.Heading2 .countdown{
  justify-content: center;
  display: flex;
  margin: 50px;
}

.countdown div{
  position: relative;
  width: 100px;
  height: 100px;
  line-height: 100px;
  background: #6E1282;
  color: #fff;
  margin : 0 15px;
  font-size: 2em;
  font-weight: 500;
}
.countdown div:before{
  content:'';
  position: absolute;
  bottom: -30px;
  right: 0;
  width: 100%;
  height: 35px;
  background: #F59B35;
  color: #76189E;
  font-size: 0.30em;
  line-height: 35px;
  font-weight: 300;
}
.countdown #day:before{
  content:'Days';
}
.countdown #hour:before{
  content:'Hours';
}
.countdown #minute:before{
  content:'Minutes';  
}
.countdown #second:before{
  content:'Seconds';  
}

.Heading2 .button-instagram {
  color: white;
  cursor: pointer;
	display: block;
  width: 230px;
  margin: 5 auto;
  text-decoration: none;
  font-size: 90%;
  text-align: center;
  line-height: 50%;
	border-radius: 50px;
  padding: 26px;
  background: #BD3381;
  background: linear-gradient(to bottom right, #BD3381,#cc5094);
	box-shadow: 0 9px 18px rgba(0,0,0,0.2);
}

.button-instagram:hover{
  background-color: #6b0940;
  font-size: 110%; 
  transition: all ease 0.4s;
}

.Heading2 .mentor-link{
  color: white;
  font-size: 16px;
  text-decoration: none;
}
.Heading2 .mentor-link:hover{
  color: #ffa508;
}

.banner .h3 {
  font-size:1.75rem;
  text-align: center;
}

.banner .text-center {
  text-align:center !important;
}

.banner .gradient {
	display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 80%;
  height: 90%;
  bottom: auto;
  margin: auto;
  z-index: -1;
  background: radial-gradient(90px circle at top center, rgba(238,88,63,.8) 30%, rgba(255,255,255,0));
  transition: all 0s ease-out 0s;
	transform: translatex(-140px);
	animation: 18s linear 0s infinite move;
}


@keyframes move {
	0% {
		transform: translatex(-140px);
	}
	25% {
		transform: translatex(140px);
		opacity: 0.3;
	}
	50% {
		transform: translatex(140px);
		opacity: 1;
		background: radial-gradient(90px circle at bottom center, rgba(238,88,63,.5) 30%, rgba(255,255,255,0));
	}
	75% {
		transform: translatex(-140px);
		opacity: 0.3;
	}
	100% {
		opacity: 1;
		transform: translatex(-140px);
		background: radial-gradient(90px circle at top center, rgba(238,88,63,.5) 30%, rgba(255,255,255,0));
	}
}

/* ~~~~~~~~~~~~~~~ABOUT~~~~~~~~~~~~~~~~~ */
.about .contentBx {
  margin: auto;
  width: 80%;
  padding: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  line-height: 1.6;
}
.about .orgs{
  display: flex;
}

.about .orgs div {
  flex: 1;
  margin: 15px; /* need some space ?*/
}

.about .orgs img {
  width: 90%;
}

.videoWrapper {
  padding: 40px;
  /* margin: auto; */
  position: relative;
  width: 100%;
  height: auto;
}
.videoWrapper video {
  position: relative;
  width: 60%;
  height: auto;
  left: 20%;
}

/* ~~~~~~~~~~~Schedule~~~~~~~~~~~~~ */
.schedule {
  display: block;
  margin: auto; 
  margin-bottom: 2%;
}

.schedule img {
  width: 60%;
  max-width: 550px;
  height: auto;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 10%;
  height: auto;
}

.schedule .shrink {
  width: 60%;
  height: auto;
  padding-left: 2vw;
  padding-right: 2vw;
  margin-top: 20px; 
  max-width: 400px;
}

/* ~~~~~~~~~~~~~~~WHY WEHACK~~~~~~~~~~~~~~~~~ */
.whyWEHack {
  position: relative;
  width: 100%;
  display: flex;
}

.whyWEHack .contentBox {
  text-align: left;
  padding: 100px;
  padding-top: 150px;
  width: 50%;
}

.whyWEHack .imgBox {
  text-align: center;
  width: 50%;
}

.whyWeHack img {
  width: 90%;
  padding: 60px;
}
/* ~~~~~~~~~~~~~~~CHALLENGE~~~~~~~~~~~~~~~~~ */
.challenge{
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 40px;
}
.challenge h1{
  padding-bottom: 10px;
}
.challenge .intro{
  width: 80%;
}
.challenge .intro h2{
  opacity: 80%;
  font-size: 1em;
  padding: 10px;
  letter-spacing: 1px;
}
.challenge .content{
  /* border: 2px solid grey; */
  padding: 20px;
  margin: 30px;
  border-radius: 12px;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  /* margin-top: -.25rem; */
}

/* ~~~~~~~~~~~~~~~SPONSORS~~~~~~~~~~~~~~~~~ */
.sponsors {
  padding: 40px;
}

.sponsors .heading {
  padding-bottom: 0;
}

.sponsor {
  display: block;
  margin: auto;
  margin-bottom: 2%;
}

.sponsors img {
  width: 100%;
  max-width: 300px;
  height: auto;
  padding-left: 2vw;
  padding-right: 2vw;
  margin-top: 20px;
  height: auto;
}

.sponsor .smaller {
  max-width: 400px;
}


/* ~~~~~~~~~~~~~~~PARTNERS~~~~~~~~~~~~~~~~~ */
.partners {
  padding: 40px;
}

.partners .heading {
  padding-bottom: 0;
}

.partners {
  display: block;
  margin: auto;
  margin-bottom: 2%;
}

.partners img {
  width: 100%;
  max-width: 300px;
  height: auto;
  padding-left: 2vw;
  padding-right: 2vw;
  margin-top: 20px;
  height: auto;
}

.partners .smaller {
  max-width: 400px;
}

.partners .shrink {
  width: 100%;
  height: auto;
  padding-left: 2vw;
  padding-right: 2vw;
  margin-top: 20px;
  max-width: 250px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.container-headshot {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}

.headshot {
  position: relative;
  display: inline-block;
  /* float: left; */
  padding: 10px;
}

/* ~~~~~~~~~~~~~~~PARTNERS~~~~~~~~~~~~~~~~~ */
footer {
  padding: 25px 30px;
  background: #5b2e70;
  color: #ffa508;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

footer .text{
  color: #ffa508;
}
footer .text:hover{
  color: white;
}
.fa {
  padding: 20px;
  font-size: 20px;
  text-align: center;
  border-radius: 40%;
  margin: 10 px;
  color: white;
}
.fa::before{
  color: white;
}
.fa:hover {
  opacity: 0.7;
  background: #ffa508;
  text-decoration: none;
}

.fa-facebook {
  background: #3B5998;
}

.fa-twitter {
  background: #55ACEE;
}

.fa-google {
  background: #dd4b39;
}

.fa-instagram {
  background: #125688;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


.team-member {
  margin-bottom: 50px;
  text-align: center;
}

.team-member img {
  width: 225px;
  height: 225px;
  border: 7px solid rgba(0, 0, 0, 0.1);
}

.team-member h4 {
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: none;
}

.team-member p {
  margin-top: 0;
}

#DIV_0 {
  width: 80%;
  float: left;
}

#DIV_1 {
  height: 125px;
}

#DIV_2 {
  height: 15px;
}

#DIV_3 {
  float: left;
  height: 140px;
  width: 20%;
}




.accrdion {
  background-color: #eee;
  align-items: center;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accrdion:hover {
  background-color: #5b2e70;
  color: white;
}

.accrdion:after {
  content: '\002B'; /* Unicode character for "plus" sign (+) */
  color: rgb(133, 133, 133);
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212"; /* Unicode character for "minus" sign (-) */
  color: white;
}

.panel {
  padding: 0 18px;
  background-color:white;
  width: 77.5%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}


/*FAQ*/

.column {
  display: flex;
  flex: 49%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 50px 50px;
  padding: 10px;
  border: 50px;
}

.smallColumn {
  display: flex;
  flex: 2%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 50px 50px;
  padding: 10px;
  border: 50px;
}

@media screen and (max-width: 1000px) {
  .column {
    flex: 100%;
  }
}

.faq div {
  margin: auto;
  width: 80%;
  padding: 0px;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.6;
  /*margin-bottom:0px;*/
  margin-top: 0px;
  bottom: 0;
}

.faq h1{
  padding-top: 30px;
}

.faq p{
  padding: 5;
  margin:  10;
}

.faq .card {
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.faq hr {
  margin: 1.5rem 0;
}

.faq .card-title {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  letter-spacing: .1rem;
  font-weight: bold;
}

.faq .card-price {
  font-size: 3rem;
  margin: 0;
}

.faq .card-price .period {
  font-size: 0.8rem;
}

.faq ul li {
  margin-bottom: 0;
  padding: 0;
}

.faq .text-muted {
  opacity: 0.7;
}

.faq .btn {
  font-size: 80%;
  border-radius: 0;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  opacity: 0.7;
  transition: all 0.2s;
}

/* ~~~~~~~~~WEHACK EMPOWER SERIES~~~~~~~~~ */

.empower div {
  margin: auto;
  width: 100%;
  padding: 0px;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.6;
  /*margin-bottom:0px;*/
  margin-top: 0px;
  bottom: 0;
}

.empower .row2 {
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
  margin-right:-15px;
  margin-left:-15px;
}

.empower .accrdion2 {
  background-color: #eee;
  align-items: center;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accrdion2:hover {
  background-color: #5b2e70;
  color: white;
}

.accrdion2:after {
  content: '\002B'; /* Unicode character for "plus" sign (+) */
  color: rgb(133, 133, 133);
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212"; /* Unicode character for "minus" sign (-) */
  color: white;
}

.panel2 {
  padding: 0 18px;
  background-color:white;
  width: 77.5%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.empower .contentBox {
  margin: auto;
  width: 90%;
  padding: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  line-height: 1.6;
}

@media screen and (max-width: 640px) {
  table.empower {
    overflow-x: auto;
    display: block;
    table-layout: auto;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
  }
  .topnav{
    width: 100%;
    justify-content: flex-end;
    z-index: 1000;
  }
  .topnav #homeLink{
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .topnav #myLinks.links{
    justify-content: flex-end;
    padding-right: 8px;
    padding-top: 8px;
  }
  .topnav .links a{
    display: none;
    width: 100%;
    padding: 0px;
  }
  .topnav .links a.icon {
    display: flex;
    justify-self: flex-end;
  }
  .banner .logo1 {
    margin-top: 50px;
  }
  .banner .Heading2 {
    margin-top: 50px;
  } 
  .topnav #myLinks.links.responsive {
    display: block;
    float: none;
    justify-content: start;
    width: 100%;
    z-index: 10000;
  }
  .topnav #myLinks.links.responsive a {
    display: block;
    padding: 8px;
    width: 100%;
    text-align: left;
  }
  .topnav #myLinks.links.responsive a.icon{
    position: aboslute;
    width: auto;
  }
  .topnav #myLinks.links.responsive i{
    padding-left: 0px;
  }
}

td, th {
  /*border: 1px solid #dddddd;*/
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #eee;
}

/* first column */
td:nth-child(1) {
  width: 150px;
}

/* second column */
td:nth-child(2) {
  width: 150px;
}

/* third column */
td:nth-child(3) {
  width: 275px;
 }

 /* fourth column */
td:nth-child(4) {
  width: 250px;
 }

 /* fifth column */
td:nth-child(5) {
  width: 550px;
 }

/*stylizing links #BD3381 #5b2e70*/
a:link {
  color: #cc5094;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  color: #F59B35;
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

/* ~~~~~~~~~MEET THE TEAM~~~~~~~~~ */

.team{
  align-items: center;
  position: relative;
  text-align: center;
  padding: 30px;
}

.team .row {
  justify-content: space-around;
  align-items: center;
  margin: 0 100px;
}

.team-member {
  margin-bottom: 50px;
  text-align: center;
  padding: 40px;
}

.our-team-main
{
	width:100%;
	height:97%;
	border-bottom:5px #323233 solid;
	background:#fff;
	text-align:center;
	border-radius:10px;
	overflow:hidden;
	position:relative;
	transition:0.5s;
}

.our-team-main img
{
	border-radius:20%;
	margin-bottom:0px;
	width: 90px;
}

.our-team-main h3
{
	font-size:20px;
	font-weight:700;
}

.our-team-main p
{
  margin-bottom:0;
  font-size: 10px;
}

.team-back
{
	width:100%;
	height:auto;
	position:absolute;
	top:0;
	left:0;
	padding:5px 15px 0 0px;
	text-align:left;
  background:#fff;
  margin-bottom:0;
  bottom:0px;
}

.team-front
{
	width:100%;
	height:100%;
	position:relative;
	z-index:10;
	background:#fff;
	padding-bottom: 0px;
	bottom:0px;
  transition: all 0.5s ease;
  margin-bottom:0;
}

.our-team-main:hover .team-front
{
	bottom:-200px;
	transition: all 0.5s ease;
}

.our-team-main:hover
{
	border-color:#777;
	transition:0.5s;
}

/* Hover Effects on Card */

@media (min-width: 992px) {
  .faq .card:hover {
    margin-top: -.25rem;
    margin-bottom: .25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }
  .faq .card:hover .btn {
    opacity: 1;
  }
}


.b-sp {
  padding-bottom: 50px;
}

/* from bootstrap*/
.col-lg-4{
  -ms-flex:0 0 33.333333%;
  flex:0 0 33.333333%;
  max-width:33.333333%;
}

.row {
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
  margin-right:-15px;
  margin-left:-15px;
}

.container {
  width:100%;
  padding-right:15px;
  padding-left:15px;
  margin-right:auto;
  margin-left:auto;
} 
  
  @media (min-width:576px){
    .container {
      max-width:540px;
    }

    }
    
  @media (min-width:768px){
    .container {
      max-width:720px;
    }

    }
    
  @media (min-width:992px){
    .container {
      max-width:960px;
    }

    }
    
  @media (min-width:1200px){
    .container {
      max-width:1140px;
    }
  }

.img-fluid {
  max-width:100%;
  height:auto;
}

.padding-clear {
  clear: both;
  padding: 0;
}

.mx-auto {
  margin-right:auto!important;
}

.mx-auto {
  margin-left:auto!important;
}

.rounded-circle {
  border-radius:50%!important;
}

.social{
  position: absolute;
  left: 50px;
  bottom: 50px;
  display: flex;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

@media (max-width: 1024px) {
  .heading{
    font-size: 1.5em;
  }
  .banner{
    flex-direction: column;
    text-emphasis: center;
    justify-content: center;
  }
  .banner .imgBox,
  .banner .Heading2{
    width: 100%;
    padding: 25px;
    text-align: center;
    vertical-align: center;
  }
  .banner .imgBox{
    padding-top: 60px;
    height: 40%;
    padding-bottom: 0px;
  }
  .banner .logo1{
    height: 100%;
    width: auto;
  }
  .banner .Heading2{
    height: 60%;
    margin-top: 0px;
    font-size: 20px;
  }
  .banner .countdown{
    margin: 25px;
    margin-bottom: 60px;
  }
  .banner .countdown div{
    width: 70px;
    height: 70px;
    line-height: 70px;
    font-size: 1.5em;
  }
  .banner .countdown div:before{
    font-size: 14px;
  }
  .Heading2 h3.topHeading{
    font-size: 50px;
  }
  .banner .button-instagram{
    padding: 20px;
    width: 190px;
    font-size: 22px;
  }
  .whyWEHack {
    text-emphasis: center;
    justify-content: center;
    flex-direction: column;
  }
  .whyWEHack .contentBox,
  .whyWEHack .imgBox {
    width: 100%;
    padding: 25px;
    text-align: center;
    vertical-align: center;
  }
  .whyWEHack .contentBox{
    padding-bottom: 0px;
  }
  .whyWEHack .imgBox{
    margin-top: 0px;
  }
  .whyWEHack img {
    padding: 0px;
    margin: 0px;
    width: 100%;
  }
  .sponsors .intro{
    padding: 10px 0px;
  }
  .sponsor{
    display: block;
    margin: 10px 10px;
    margin-bottom: 0%;
  }
}
/* Mobile banner responsiveness */
@media (max-width: 458px){
  .banner .imgBox{
    padding: 25px 0px;
  }
  .banner .Heading2{
    height: 60%;
    margin-top: 5px;
    font-size: 16px;
  }
  .banner .countdown{
    margin: 25px;
    margin-bottom: 60px;
  }
  .Heading2 h3.topHeading{
    font-size: 40px;
  }
  .banner .countdown div{
    line-height: 60px;
    font-size: 45px;
    margin: 0 5px;
  }
  .banner .countdown div:before{
    font-size: 0.30em;
    line-height: 35px;
    height: 30px;
  }
  .banner .button-instagram{
    padding: 16px;
    width: 190px;
    font-size: 22px;
  }
}
    
/* desktop responsiveness*/
@media (min-width: 1920px){
  .banner .Heading2{
    font-size: 3em;
  }
  .banner .Heading2 h3.topHeading{
    font-size: 2em;
  }
  .banner .countdown{
    margin: 20px;
    margin-bottom: 80px;
  }
  .banner .countdown div{
    width: 150px;
    height: 150px;
    line-height: 130px;
    font-size: 1.5em;
  }
  .banner .countdown div:before{
    height: 50px;
    line-height: 50px;
    font-size: 35px;
  }
  .banner .button-instagram{
    padding: 30px;
    width: 500px;
    font-size: 1em;
    margin: 5 auto;
  }
  .banner .mentor-link{
    font-size: 0.5em;
  }
}
